{{define "content"}}
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group me-2" role="group" aria-label="First group">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<hr>
<section class="container">
    {{ $items_in_row := 4 }}
    {{ $end := 3}}
    {{ range $idx, $todo := .Todos}}
    {{ $mod := mod $idx $items_in_row}}
    {{ if eq $mod 0 }}
    <div class="row">
        {{end}}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{$todo.Name}}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{$todo.Category}}</h6>
                    <p class="card-text">{{$todo.Description}}</p>
                    <a href="#" class="card-link">Mark As Done</a>
                    <a href="#" class="card-link">Delete</a>
                </div>
            </div>
        </div>
        {{ if eq $mod $end}}
        </div>
    {{end}}
    {{end}}
</section>
{{end}}