{{define "content"}}
<section class="container">
    <form>
        <div class="mb-3">
            <label for="todoTitle" class="form-label">Title</label>
            <input type="text" class="form-control" id="id-title">
        </div>
        <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="Enter todo description" id="floatingTextarea2"
                style="height: 100px"></textarea>
            <label for="floatingTextarea2">Description</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>
{{end}}